<!DOCTYPE html>
<html>
	<head>
		<title>Swapnil's Coding Blog</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="styles.css">
		<style>


		</style>
	</head>
	<body>
		<h1> About Me</h1>
		<p align="center"> I am Swapnil Kailash More, Sun of Kailash Malaji More. I am an engineer, a research scholar and lover of Art. My research area is Nonlinear Dynamics of Nanoelectromechanical Systems</p>
		<p>I am married to a very beautiful girl. Her name is Sonal. She is computer engineer. She is expert in HTML, hece I am also learnign HTML
		</p>
		<p align="center"> And I Love Sonal</p>
		<p>This is me <br />
		<img src='Images/me.jpg' height="10%" width="10%" border="5px" align="middle" alt="my photo"/>
		</p>
		<button>Send Love to Sonal</button>

		<p>This my home page <a href="http://www.cense.iisc.ac.in/" target="_blank"> My School</a> </p>
		<hr />
		<h1> h1</h1>
		<h2> h1</h2>
		<h3> h1</h3>
		<h4> h1</h4>
		<h5> h1</h5>
		<h6> h1</h6>
		<h7> h1</h7><!--H& IS JUST A TEXT-->
		<p>A Paragraph</p>
		<hr width="50%" />
		<hr width="50px" />
    <p>A Paragraph</p>
    <hr />
		<h1> How Divisions Work</h1>
    	<div id="top">
            This the division of my HTML code without any formal meaning.
    	</div>
			<div id="middle">
            This is the <span class="name">middle</span> of my we page
    	</div>
    	<div id="bottom">
            This is the <span class="name">bottom</span> of my page
    	</div>
		<hr />
		<h1>Media Qwerry</h1>
			<p>This is a paragraph</p>
			<p>Another Paragraph</p>
			<p class="screen-only">This paragraph wont appear when you print this page
			</p>
		<hr />
		<h1 id="MobilEView">is the current View</h1>
			<p>Some text which you want to see while changeing the screen size</p>
	</body>
</html>
