<!DOCTYPE html>
<html>
	<head>
		<title>Swapnil's Coding Blog</title>
		<style>
			h1 {
				color:coral;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<h1> About Me</h1>
		<p align="center"> I am Swapnil Kailash More, Sun of Kailash Malaji More. I am an engineer, a research scholar and lover of Art. My research area is Nonlinear Dynamics of Nanoelectromechanical Systems</p>
		<p>I am married to a very beautiful girl. Her name is Sonal. She is computer engineer. She is expert in HTML, hece I am also learnign HTML
		</p>
		<p align="center"> And I Love Sonal</p>
		<p>This is me <br />
		<img src='Images/me.jpg' height="10%" width="10%" border="5px" align="middle" alt="my photo"/>
		</p>

		<p>This my home page <a href="http://www.cense.iisc.ac.in/" target="_blank"> My School</a> </p>
		<hr />
		<h1> h1</h1>
		<h2> h1</h2>
		<h3> h1</h3>
		<h4> h1</h4>
		<h5> h1</h5>
		<h6> h1</h6>
		<h7> h1</h7><!--H& IS JUST A TEXT-->
		<p>A Paragraph</p>
		<hr width="50%" />
		<hr width="50px" />
		<p>A Paragraph</p>
	</body>
</html>
